.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 0.5px;
}

.line1 { stroke: #4D4D4D; }
.line2 { stroke: #5DA5DA; }
.line3 { stroke: #FAA43A; }
.line4 { stroke: #60BD68; }
.line5 { stroke: #F17CB0; }
.line6 { stroke: #B2912F; }

